{% extends "index.html.twig" %}

{% block section %}
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				<th>Id</th>
				<th>Départ</th>
				<th>Arrivée</th>
				<th>Date</th>
				<th>+ d'infos</th>
			</tr>
		</thead>
		<tbody>
			{% for iti in itis %}
				<tr>
					<td>{{iti.idIti}}</td>
					<td>{{iti.lieuDepart}}</td>
					<td>{{iti.lieuArrivee}}</td>
					<td>{{iti.dateDepart}}</td>
					<td>
						<form id="details" method="post" action="index.php?action=details" class="well">
                                    <input  type="hidden" id="idmembre" name="idmembre" value="{{iti.idMembre}}"/>
                                    <input type="submit" name="valid_detail" value="details"/>
                                    </form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
